body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContainer {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
}

.headerWrapper {
  width: 100%;
  max-width: 1400px;
  height: 80px;
  background: #ffffff;
  border: 1px solid #f0f0f0;
  border-radius: 50px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.03);
}

.navigation {
  display: flex;
  gap: 30px;
  flex: 1;
}

.link, .activeLink {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #999;
  letter-spacing: 1px;
  transition: color 0.2s ease;
}

.link:hover, .activeLink {
  color: #1a1a2e;
}

/* Логотип */
.logoContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.logoText {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 4px;
  text-decoration: none;
  color: #1a1a2e;
  font-family: serif;
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
  justify-content: flex-end;
}

.cartWrapper {
  position: relative;
  cursor: pointer;
}

.cartBadge {
  position: absolute;
  top: -5px;
  right: -8px;
  background-color: #d32f2f;
  color: white;
  font-size: 10px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions a {
  color: #1a1a2e;
  display: flex;
  align-items: center;
}