*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: start;
    overflow-x: hidden;
}