*{
    font-family: "GT Walsheim Pro";
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #FFFFFF;
}

.title{
    font-size: 72px;
    font-weight: bold;
    color: #CDD5DD;
    margin-bottom: 20px;
}

.message{
    font-size: 24px;
    color: #0C122A;
    margin-bottom: 40px;
}

.icon{
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
}